nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  backdrop-filter: blur(15px);
  border-radius: 3rem;
}

nav a {
  background: transparent;
  padding: 1rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.1rem;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

nav a.active {
  background: var(--color-primary);
  color: var(--color-bg);
}

.tooltip {
  position: relative;
}

.tooltiptext {
  visibility: hidden;
  background-color: #0e0c15;
  color: white;
  text-align: center;
  border-radius: 20px;
  padding: 5px 8px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
